<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastro de Livros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="Titulo" [(ngModel)]="titulo">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Id" [(ngModel)]="id">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Autor" [(ngModel)]="autor">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Número de Páginas" [(ngModel)]="nPaginas">
    </mat-form-field>
    <button color='accent' mat-raised-button (click)='onAdicionarlivro()'>Inserir livro</button>
  </mat-card-content>
</mat-card>

